main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4vw;
  margin-bottom: 5vw;
}

.wordInput{
  width: 40vw;
  height: 10vw;
}

.createBtn{
  padding: 1% 2%;
  text-align: center;
  /* width: 10vw; */
  background-color: #2E728D;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
}

button{
  transition: .2s;
}

button:hover{
  opacity: .9;
  transition: .2s;
}

h2{
  margin: 0;
}

textarea{
  font-size: 1.5em;
}

.crosswordContainer{
  display: flex;
  flex-direction: row;
}

#error{
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.infoBtn{
  background-color: transparent;
  /* width: 10px; */
  /* height: 10px; */
  /* width: fit-content; */
  border: 0;
}

.infoBtn img{
  width: 1.5vw;
  height: auto; 
}

.hint{
  position: absolute;
  max-width: 15vw;
  background: rgba(128, 128, 128, 0.203);
  padding: 1%;
  border-radius: 1vw;
  font-size: .8rem;
  /* height: 100%; */
}

footer{
  position: absolute;
  bottom: 0;
}

.active{
  color: black !important;
  cursor: default;
}

.navlink{
  margin-right: 1%;
  color: white;
}

.loader {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #898989;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }