.emptyCell{
    background-color: transparent;
    border: 0;
}
.filledCell{
    background-color: rgb(255, 238, 195);
    border: 1px #d2a533;
}
th input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.solvedCell{
    background-color: var(--green-6);
    border: 1px rgb(78, 144, 78);
}

.numberCell{
    color: rgb(86, 85, 85);
    height: 30px;
    font-size: .7rem;
}
.hotizontalNumber{
    text-align: right;
    padding-right: .3vw;
}
.verticalNumber{
    vertical-align: bottom;
}

th{
    width: 30px;
    height: 30px;
    font-weight: bold;
}
div{
    text-align: justify;
}
.infoContainer{
    width: fit-content;
    max-width: 35vw;
    text-align: center;
}

table{
    text-align: center;
    width: fit-content;
    align-items: center;
    vertical-align: middle;
    
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}
.crossword{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.controlBtn{
    background: var(--violet-6);
    border: none;
    border-radius: 50%;
    width: 2.1vw;
    height: 2.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.controlBtn img{
    width: 60%;
}
.controlBtn:hover, #publishBtn:hover{
    cursor: pointer;
}

.exportBtnContainer{
    margin-top: 1vh;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding-bottom: 1vw;
    transition: .1s;
}

.crossword:hover .exportBtnContainer{
    transition: .1s;
    visibility: visible;
}

#publishBtn {
    border-radius: 5vw;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions * {
    width: 50%;
}

.crosswordTable{
    width: 25vw;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.149);
    padding: 1vw 1vw;
    border-radius: 1vw;
}
.crosswordTable p{
    width: 100%;
}

.controls{
    align-items: center;
    width: 100%;
    display: flex;
    gap: .1vw;
    justify-content: space-between;
    margin-top: 1vh;
}