.emptyCell{
    background-color: transparent;
    border: 0;
}

.filledCell{
    min-width: 1vw;
    height: 1.7vw;
    background-color: rgb(255, 238, 195);
    border: 1px #d2a533;
}

.numberCell{
    color: rgb(86, 85, 85);
    min-width: 1vw;
    height: 1.7vw;
    font-size: .7rem;
}
.hotizontalNumber{
    text-align: right;
}
.verticalNumber{
    vertical-align: bottom;
}

th{
    padding: .1vw .3vw;
}
div{
    /* max-width: 30vw; */
    text-align: justify;
}
.infoContainer{
    width: fit-content;
    max-width: 35vw;
    text-align: center;
}

table{
    text-align: center;
    width: fit-content;
}

.crossword{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.downloadBtn{
    text-decoration: underline;
    background: none;
    border: none;
}

.downloadBtn:hover, #publishBtn:hover{
    cursor: pointer;
}

.exportBtnContainer{
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding-bottom: 1vw;
    transition: .1s;
}

.crossword:hover .exportBtnContainer{
    transition: .1s;
    visibility: visible;
}

#publishBtn {
    background-color: rgb(216, 216, 216);
    padding: 4% 6%;
    border-radius: 5vw;
    border: none;
    width: fit-content;
    margin-top: 1vw;
    /* font-weight: bold; */
}