#backBtn{
  position: absolute;
  top: 50px;
  left: 20px;
  transform: translateY(50%);
  background: rgb(184, 183, 183);
  color: black;
  /* font-weight: lighter; */
}
#crosswordInfo{
  /* margin-top: 10vh; */
  align-items: center; 
  display: flex;
  flex-direction: row;
  width: 90%;
  flex: 1;
  justify-content: space-around;
  /* gap: 10vw; */
}

#definitions{
  align-items: center;
  text-align: center;
  align-content: center;
  background: rgb(184, 183, 183);
  padding: 3% 2%;
  transform: translateY(10%);
  max-width: 15vw;
} 

li{
  text-align: left;
}

.QuestionInput{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;

}

input:focus{
  outline: none;
}