main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4vw;
  margin-bottom: 5vw;
}

.wordInput{
  width: 40vw;
  height: 10vw;
}

.createBtn{
  padding: 1% 2%;
  text-align: center;
  /* width: 10vw; */
  background-color: rgb(99, 129, 185);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
}

button{
  transition: .2s;
}

button:hover{
  opacity: .9;
  transition: .2s;
}

h2{
  margin: 0;
}

textarea{
  font-size: 1.5em;
}

.crosswordContainer{
  display: flex;
  flex-direction: row;
}

#error{
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.infoBtn{
  background-color: transparent;
  /* width: 10px; */
  /* height: 10px; */
  /* width: fit-content; */
  border: 0;
}

.infoBtn img{
  width: 1.5vw;
  height: auto; 
}

.hint{
  position: absolute;
  max-width: 15vw;
  background: rgba(128, 128, 128, 0.203);
  padding: 1%;
  border-radius: 1vw;
  font-size: .9rem;
  /* height: 100%; */
}
