main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4vw;
  margin-bottom: 5vw;
}

.wordInput{
  width: 40vw;
  height: 10vw;
}

.createBtn{
  padding: 1% 2%;
  text-align: center;
  /* width: 10vw; */
  background-color: rgb(99, 129, 185);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
}

button{
  transition: .2s;
}

button:hover{
  opacity: .9;
  transition: .2s;
}

h2{
  margin: 0;
}

textarea{
  font-size: 1.5em;
}

.crosswordContainer{
  display: flex;
  flex-direction: row;
}